@import 'color';
@import 'mixin';

/* universal */

.center {
  text-align: center;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  margin-bottom: 10px;
}

/* end universal */

/* typography */

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* end typography */

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

/* end header */

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray;
  color: $gray;

  a {
    color: $black;

    &:hover {
      color: $black;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* end header */

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* end miscellaneous */

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* end sidebar */

/* forms sign up */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px !important;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* end form sign up */

/* login */
.ml-3 {
  margin-left: 1rem;
}
/* end login */

/* checkbox in login form */
.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
    span {
    font-weight: normal;
    margin-left: 20px;
  }
 }
 #session_remember_me {
  margin-left: 0;
  width: auto;
 }

 /* end checkbox in login form */
